<header class="header">
<div class="navigation">
<a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>
<ul class="menu">
<!--<li class="menu__entry"><a href="{{ '/resume' | prepend: site.baseurl }}">Resume</a></li>-->
<!--<li class="menu__entry"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>-->
</ul>
</div>
<ul class="social-links">
<a href="assets/docs/PoornimaRamesh_CV.pdf" class="social-links__entry" target="_blank" title="CV">
<i class="fa fa-university"></i>
</a>
{% if site.author.twitter %}
<a href="{{ site.author.twitter }}" class="social-links__entry" target="_blank" title="Twitter">
<i class="fa fa-twitter"></i>
</a>
{% endif %}
{% if site.author.googlescholar %}
<a href="{{ site.author.googlescholar }}" class="social-links__entry" target="_blank" title="Google Scholar">
<i class="fa fa-google"></i>
</a>
{% endif %}
{% if site.author.github %}
<a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank" title="GitHub">
<i class="fa fa-github"></i>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank" title="LinkedIn">
<i class="fa fa-linkedin"></i>
</a>
{% endif %}
</ul>
</header>
