<header class="header">
<div class="navigation">
<!-- <a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a> -->
<ul class="menu">
<!--<li class="menu__entry"><a href="{{ '/resume' | prepend: site.baseurl }}">Resume</a></li>-->
<!--<li class="menu__entry"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>-->
</ul>
</div>
<ul class="social-links">
<a href="{{ '/' | prepend: site.baseurl }}" class="social-links__entry" title="Home">
    <div id="describe-text"
        style="font-size: 30px; font-weight: 100; font-family: Open Sans Light; position: relative; top: -10px; right: -100px">
        home
    </div>
</a>
<a href="{{ '/blog' | prepend: site.baseurl }}" class="social-links__entry" title="Blog">
<div id="describe-text"
    style="font-size: 30px; font-weight: 100; font-family: Open Sans Light; position: relative; top: -10px; right: -100px">
    blog
</div>
</a>
</ul>
</header>
